<!DOCTYPE html>
<html>

<head>
    <title>Libsql Viewer</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/style.css">
    <script src="/table.js"></script>
</head>

<body>
    <section class="libsql-viewer-tables">
        <ul>
            {{#tables}}
                <li><a href="/t/{{name}}" data-actions='[
                    { "name": "copy table name", "onclick": "navigator.clipboard.writeText(`{{name}}`)" },
                    "-",
                    { "name": "clear table", "href": "./{{name}}/clear", "onclick": "return confirm(`Are you sure you want to delete all entries from {{name}} table?`)" },
                    { "name": "drop table", "href": "./{{name}}/drop", "onclick": "return confirm(`Are you sure you want to drop {{name}} table?`)" },
                    "-",
                    { "name": "export table as csv", "href": "./{{name}}/csv" },
                    { "name": "export table as json", "href": "./{{name}}/json" }
                ]'>{{name}}</a></li>
            {{/tables}}
        </ul>
    </section>

    <div class="libsql-viewer-section-column">
        <section class="libsql-viewer-query">
            <textarea>{{query}}</textarea>
        </section>

        <section class="libsql-viewer-table">
            {{#table}}
                <div class="column">
                    <div class="header cell">{{name}}</div>
                    {{#data}}
                        <div class="cell">{{.}}</div>
                    {{/data}}
                </div>
            {{/table}}
        </section>
    </div>

    <section class="libsql-viewer-context-menu hidden">
    </section>
</body>

</html>