:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;

    --hover-color: rgba(173, 216, 230, 0.25)
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    margin: 0px;
}

/* TABLE SELECTOR */

.libsql-viewer-tables {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100vh;
    background-color: rgb(240, 240, 240);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.libsql-viewer-tables ul {
    margin: 0px;
    padding: 0px;
}

.libsql-viewer-tables li {
    list-style-type: none;
}

.libsql-viewer-tables li a {
    color: black;
    display: flex;
    padding: 5px 15px;
    text-decoration: none;
    align-items: center;
}

.libsql-viewer-tables li a:hover {
    background-color: var(--hover-color);
}

.libsql-viewer-tables li a.active {
    background-color: rgba(173, 216, 230, 0.5);
}

/* MAIN TABLE */

.libsql-viewer-table {
    overflow: scroll;
    display: flex;
    height: 100vh;
    flex: 1;
}

.libsql-viewer-table table {
    height: 100%;
    border-collapse: collapse;
    flex: 1;
}

.libsql-viewer-table tr {
    height: 40px;
}

.libsql-viewer-table th {
    text-align: left;
}

.libsql-viewer-table td,
.libsql-viewer-table th {
    padding: 0px 5px;
}

.libsql-viewer-table td:first-child,
.libsql-viewer-table th:first-child {
    padding-left: 10px;
}

.libsql-viewer-table td {
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    max-width: 100px;
}

.libsql-viewer-table tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.1);
}
