:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;

    --hover-color: rgba(173, 216, 230, 0.25);
    --border-color: rgba(0, 0, 0, 0.1);
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    margin: 0px;
}

/* TABLE SELECTOR */

.libsql-viewer-tables {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100vh;
    background-color: rgb(240, 240, 240);
    border-right: 1px solid var(--border-color);
}

.libsql-viewer-tables ul {
    margin: 0px;
    padding: 0px;
}

.libsql-viewer-tables li {
    list-style-type: none;
}

.libsql-viewer-tables li a {
    color: black;
    display: flex;
    padding: 5px 15px;
    text-decoration: none;
    align-items: center;
}

.libsql-viewer-tables li a:hover {
    background-color: var(--hover-color);
}

.libsql-viewer-tables li a.active {
    background-color: rgba(173, 216, 230, 0.5);
}

/* MAIN TABLE */

.libsql-viewer-table {
    overflow: scroll;
    height: 100vh;
    flex: 1;
    display: flex;
}

.libsql-viewer-table .column {
    flex: 1 1;
    width: max-content;
    min-width: 20px;
    max-width: max-content;
}

.libsql-viewer-table .header {
    font-weight: bold;
}

.libsql-viewer-table .cell {
    height: 40px;
    min-height: 40px;
    max-height: 40px;
    line-height: 30px;

    padding: 5px;

    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

.libsql-viewer-table .cell:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.1);
}

/* CONTEXT MENU */

.libsql-viewer-context-menu {
    position: absolute;
    background-color: white;
    min-width: 200px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px lightgray;
    border: 1px solid lightgray;
}

.libsql-viewer-context-menu.hidden {
    display: none;
}

.libsql-viewer-context-menu a {
    all: unset;
    cursor: pointer;
    display: block;
    padding: 5px 10px;
}

.libsql-viewer-context-menu a:hover {
    background-color: var(--hover-color);
}

.libsql-viewer-context-menu hr {
    margin: 0px 10px;
    border: 0.5px solid lightgray;
}

/* QUERY */

.libsql-viewer-query {
    display: block;
}

.libsql-viewer-query textarea {
    padding: 10px;
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--border-color);
    outline: none;
    resize: vertical;
    font-size: inherit;
    font-family: monospace;
}

/* COL */

.libsql-viewer-section-column {
    flex: 1 1;
    min-width: 0px;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}
